.footer {
    background: $primary-color;
    @include adaptive-value('padding-block', 64, 30, 1);
    @include font(16, 14, 400, 22, 16);
    color: $white-color;

    &__container {
        @include flex(flex-start, space-between);

        @include media(768) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 0.7fr);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        @include media(768) {
            &:first-child {
                grid-area: 1 / 1 / 2 / 2;
            }
            &:nth-child(2) {
                grid-area: 2 / 1 / 3 / 2;
            }
            &:nth-child(3) {
                grid-area: 1 / 2 / 3 / 3;
            }
        }
    }
}

.footer-list {
    @include adaptive-value('row-gap', 44, 26, 1);
}

.footer-contactlist {
    &__item {
        &-socialmedia {
            margin-bottom: 24px;

            &--bottom {
                margin: 50px 0 0 0;
            }
        }
    }

    &__callLink {
        margin-bottom: 1rem;
        @include font(16, 14, 400, 19, 20);

        &-span {
            @include media(768) {
                display: block;
            }
        }
    }

    &__address p {
        @include adaptive-value('max-width', 440, 250, 1);
        @include font(16, 14, 400, 19, 20);
    }
}

.footer-socialmedia {
    display: flex;
    column-gap: 36px;

    &.colors {
        column-gap: 18px;

        .telegram {
            color: #29a9eb;
        }

        .facebook {
            color: #1877f2;
        }

        .instagram {
            color: #fa7e1e;
        }
    }
}
