.footer {
    background-color: $primary-color;
    color: $white-color;
    @include adaptive-value('padding-block', 64, 24, 1);

    @include mobile {
        padding: 24px 0 48px 0;
    }

    &__wrap {
        @include flex(flex-start, space-between);
        @include adaptive-value('column-gap', 100, 20, 1);
    }

    &__left {
        @include flex(flex-start, space-between);
        @include adaptive-value('column-gap', 150, 20, 1);

        @include media(475) {
            flex-direction: column;
            row-gap: 20px;
        }
    }

    &__right {
        @include tablet {
            span {
                display: block;
                line-height: 25px;
            }
        }
    }

    @include tablet {
        &__left,
        &__right {
            width: 40%;
        }
    }

    @include mobile {
        &__left,
        &__right {
            width: 45%;
        }
    }

    &__list {
        @include font(16, 14, 400, 19px);

        &-item:not(:last-child) {
            @include adaptive-value('margin-bottom', 44, 26, 1);
        }
    }

    &__call-link {
        @include font(16, 14, 400, 19px);
        margin-bottom: 16px;

        @include media(475) {
            line-height: 25px;
            font-size: $font-size-14;
        }
    }

    &__address {
        @include font(16, 14, 400, 19px);
        max-width: 315px;

        @include media(475) {
            font-size: $font-size-14;
            line-height: 17px;
        }
    }

    &__leader {
        max-width: 320px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        span {
            display: block;
        }

        @include media(1024) {
            display: none;
        }
    }
}
