.media__list {
    @include flex(center, flex-start);

    @include media-desktop(768) {
        margin-bottom: 26px;
    }

    @include mobile {
        margin-top: 60px;
    }

    &-item {
        margin-right: 36px;
    }
}
