.call {
    @include flex(center, space-between);

    &__icon {
        margin-right: 20px;

        @include mobile {
            margin-right: 10px;
        }
    }

    &__link {
        @include font(16, 14, 400, 19px);
    }
}
