.info {
    margin-block: 40px 55px;

    &__title {
        @include font(24, 18, 600, 29, 20);
        color: $grey-400;
        margin-bottom: 1rem;
    }

    &__subtitle {
        @include font(16, 14, 500, 19, 17);
        color: $grey-400;
        @include adaptive-value('margin-bottom', 30, 20, 1);
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.info-content {
    &__item {
    }

    &__title {
        @include font(18, 16, 500, 22, 20);
        margin-bottom: 1rem;
    }
}

.info-list {
    @include font(16, 14, 500, 22, 20);
    color: $grey-400;
    padding-left: 25px;
    margin-bottom: 36px;

    &__item {
        list-style: disc;
    }
}

.info-sublist {
    padding-left: 25px;

    &__item {
        list-style: disc;
    }
}
