* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $inter !important;
    font-size: $font-size-16;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $primary-color;
    box-shadow: inset 2px 2px 5px 0 hsl(0deg 0% 100% / 50%);
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
textarea,
button {
    outline: none;
}

html {
    scroll-behavior: smooth;
}
