.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

.page {
    min-height: 100vh;
    padding-top: $header-height;
}

.title {
    font-size: $font-size-36;
    color: $primary-color;
}

.btn {
    background-color: $primary-color;
    border: none;
    padding: 15px 40px;
    font-size: $font-size-18;
    font-weight: 700;
    font-family: $inter;
    line-height: 22px;
    color: $white-color;
}
.btn-call {
    font-size: $font-size-16;
    font-weight: 700;
    line-height: 19px;
    padding: 10px 30px !important;
    border-radius: $border-radius;
}
