.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1228px;
    padding: 0 24px;
    margin: 0 auto;
}

.page {
    min-height: 100vh;
    padding-top: $header-height;
}

.title {
    @include font(36, 24, 500, 44px);
    color: $primary-color;

    @include mobile {
        line-height: 29px;
    }
}

.btn {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    font-family: $inter;
    color: $white-color;
    transition: all 0.4s ease;
    @include font(18, 14, 700, 22px);
    @include adaptive-value('line-height', 22, 17, 1);
    @include adaptive-value('padding-block', 15, 10, 1);
    @include adaptive-value('padding-inline', 40, 20, 1);

    &:focus {
        background: $white-color;
        color: $primary-color;
    }

    @include media-desktop(1024) {
        &:hover {
            background: $white-color;
            color: $primary-color;
        }
    }
}
.btn-call {
    font-size: $font-size-16;
    font-weight: 700;
    line-height: 19px;
    @include adaptive-value('padding-block', 10, 8, 1);
    @include adaptive-value('padding-inline', 30, 10, 1);
    border-radius: $border-radius;

    @include tablet {
        padding: 8px 10px;

        span {
            @include center();
        }
    }
}
