.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1228px;
    padding: 0 24px;
    margin: 0 auto;
}

.page {
    min-height: 100vh;
}

.title {
    @include font(36, 24, 500, 44px);
    color: $primary-color;

    @include mobile {
        line-height: 29px;
    }
}

.btn,
.btn-call {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    font-family: $inter;
    color: $white-color;
    @extend %transition;
}

.btn {
    @include font(18, 14, 700, 22px);
    @include adaptive-value('line-height', 22, 17, 1);
    @include adaptive-value('padding-block', 15, 10, 1);
    @include adaptive-value('padding-inline', 40, 20, 1);

    @include media-desktop(768) {
        &:hover {
            background: $white-color;
            color: $primary-color;
        }
    }
}

.btn-call {
    @include adaptive-value('padding-block', 10, 8, 1);
    @include adaptive-value('padding-inline', 30, 10, 1);
    border-radius: $border-radius;

    a {
        @include font(16, 14, 700, 19px);
    }

    span {
        @include center();
    }

    @include media(768) {
        padding: 8px 10px;
    }

    @include media-desktop(768) {
        &:hover {
            background: $white-color;
            color: $primary-color;
        }
    }
}

.icon {
    cursor: pointer;
}

@include mobile {
    #banner,
    #about-us {
        scroll-margin-top: $header-height + 25;
    }
}

@include media-desktop(768) {
    #banner,
    #about-us {
        scroll-margin-top: 25px;
    }
}
