// colors
$primary-color: #0ab1e5;
$dark-grey-color: #3f3f3f;
$grey-color: #5c5c5c;
$light-grey-color: #8c8c8c;
$description-color: #706c6c;
$white-color: #fff;
$black-color: #000;

// fonts
$inter: 'Inter', sans-serif;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-26: 26px;
$font-size-32: 32px;
$font-size-36: 36px;

$header-height: 91px;
$border-radius: 20px;

$mobile-width: 768px;
$tablet-width: 1024px;

%transition {
    transition: all 0.4s ease;
}
