// colors
$grey-100: #8c8c8c;
$grey-200: #706c6c;
$grey-300: #5c5c5c;
$grey-400: #3f3f3f;
$white-color: #fff;
$black-color: #000;
$blue-50: #e8f1f6;
$blue-100: #b6d4e2;
$blue-200: #93bfd4;
$blue-300: #62a1c0;
$blue-400: #448fb4;
$blue-500: #1573a1;
$blue-600: #136993;
$blue-700: #0f5272;
$blue-800: #0c3f59;
$blue-900: #093044;
$primary-color: #0c79ad;
$primary-hover: #0ab1e5;

// fonts
$inter: 'Inter', sans-serif;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-32: 32px;
$font-size-36: 36px;

$header-height: 91px;
$border-radius: 20px;

$mobile-width: 768px;
$tablet-width: 1024px;

%transition {
    transition: all 0.4s ease;
}
