.about {
    @include adaptive-value('margin-block', 50, 20, 1);

    &__container {
        @include flex(center, space-between);
        @include adaptive-value('margin-bottom', 55, 32, 1);
        @include adaptive-value('column-gap', 100, 50, 1);

        @include mobile {
            flex-direction: column-reverse;
            @include adaptive-value('row-gap', 70, 50, 1);
        }
    }

    &__left,
    &__right {
        width: 50%;

        @include mobile {
            width: 100%;
        }
    }

    &__left {
        margin: 0 auto;
        @include flex();
    }

    &__title {
        @include adaptive-value('margin-bottom', 55, 30, 1);
    }
}

.about-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include media(1024) {
        display: -webkit-box;
        -webkit-line-clamp: 17;
        -webkit-box-orient: vertical;
    }

    @include media(768) {
        -webkit-line-clamp: 13;
    }

    @include media(465) {
        -webkit-line-clamp: 17;
    }

    @include media(425) {
        -webkit-line-clamp: 14;
    }

    @include media(375) {
        -webkit-line-clamp: 17;
    }

    &.active {
        display: -webkit-box;
        -webkit-line-clamp: 100;
        -webkit-box-orient: vertical;
        transition: all 250s ease-in;
    }

    &__item {
        @include font(14, 14, 500, 17, 15);
        color: $grey-200;

        &:not(:last-child) {
            @include adaptive-value('margin-bottom', 22, 26, 1);
        }
    }
}

.about-bottom {
    @include flex(center, flex-end);

    @include media(1024) {
        justify-content: space-between;
    }

    &__link {
        @include flex(center, space-between);
        position: relative;
        @include font(16, 12, 500, 19, 15);
        color: $primary-color;
        cursor: pointer;

        @include media(425) {
            font-size: $font-size-12;
        }

        &:hover {
            .about-bottom__icon-animate {
                transform: translateX(10px);
            }
        }
    }

    &__icon {
        @include center();
        margin-left: 10px;
        transition: all 0.3s ease-in-out;

        &.active {
            transform: rotate(180deg);
        }
    }
}

.video__border {
    transform: rotate(5.88deg);
}
