.about {
    @include flex(center, center);
    @include adaptive-value('margin-block', 50, 20, 1);
    @include adaptive-value('column-gap', 110, 50, 1);

    @include tablet {
        flex-direction: column;
        @include adaptive-value('row-gap', 70, 50, 1);
    }

    &__left,
    &__right {
        width: 50%;

        @include tablet {
            width: 100%;
        }
    }

    &__left {
        margin: 0 auto;
        position: relative;
        @include center();
    }

    .title {
        @include adaptive-value('margin-bottom', 55, 32, 1);

        @include mobile {
            margin-bottom: 32px;
        }
    }

    &__desc {
        @include font(16, 14, 500, 19px);
        color: #706c6c;

        @include mobile {
            font-size: $font-size-14;
            line-height: 17px;
        }

        &-item:not(:last-child) {
            @include adaptive-value('margin-bottom', 22, 26, 1);
        }
    }

    &__links {
        width: 100%;
        @include flex(center, flex-end);
        @include adaptive-value('margin-top', 55, 32, 1);
        @include font(16, 12, 500, 19px);
        color: $primary-color;

        @include mobile {
            margin-top: 32px;
            line-height: 17px;
        }

        @include tablet {
            @include flex(center, space-between);
        }

        .more-details {
            padding: 0 30px 0 0;
        }

        a {
            @include flex(center, space-between);
            cursor: pointer;
            position: relative;

            @include media-desktop(1024) {
                padding: 0 40px 0 0;
                &:hover {
                    span {
                        right: 0;
                    }
                }
            }

            span {
                transition: all 0.2s ease 0.1s;
                position: absolute;
                right: 10px;
                @include center();
            }
        }
    }
}

.about {
    &-video {
        @include adaptive-value('width', 475, 305, 1);
        @include adaptive-value('height', 430, 275, 1);
        @include center();
        position: relative;

        @include media(375) {
            width: 270px;
            height: 240px;
        }

        &:hover {
            .about-image-border {
                transform: rotate(0);
                width: 94%;
                height: 94%;
            }
        }
    }

    &-image {
        width: 95%;
        height: 95%;
        overflow: hidden;
        object-fit: cover;
        border-radius: $border-radius;
        z-index: 6;

        @include media(375) {
            width: 100%;
            height: 100%;
        }
    }

    &-image-border {
        width: 100%;
        height: 100%;
        position: absolute;
        border: 1px solid $primary-color;
        transform: rotate(5.88deg);
        border-radius: $border-radius;
        z-index: 5;
        @extend %transition;
    }
}
