.about {
    @include adaptive-value('margin-block', 50, 20, 1);

    &__container {
        @include flex(center, space-between);
        @include adaptive-value('margin-bottom', 55, 32, 1);
        @include adaptive-value('column-gap', 100, 50, 1);
        @include mobile {
            flex-direction: column;
            @include adaptive-value('row-gap', 70, 50, 1);
        }
    }

    &__left,
    &__right {
        width: 50%;

        @include mobile {
            width: 100%;
        }
    }

    &__left {
        margin: 0 auto;
        @include flex();
    }

    &__title {
        @include adaptive-value('margin-bottom', 55, 30, 1);
    }
}

.about-list {
    display: flex;
    flex-direction: column;
    @include adaptive-value('row-gap', 22, 26, 1);
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;

    @include media(1024) {
        max-height: 375px;
    }

    @include mobile {
        max-height: 200px;
    }
    @include media(425) {
        max-height: 310px;
    }

    @include media(375) {
        max-height: 460px;
    }

    &.active {
        max-height: 9999px;
        transition: all 0.5s cubic-bezier(1, 0, 1, 0);
    }

    &__item {
        @include font(14, 14, 500, 17px);
        color: $description-color;
    }
}

.about-bottom {
    @include flex(center, flex-end);

    @include media(1024) {
        justify-content: space-between;
    }

    &__link {
        @include flex(center, space-between);
        position: relative;
        @include font(16, 12, 500, 19px);
        color: $primary-color;
        cursor: pointer;

        @include media(425) {
            font-size: $font-size-12;
            line-height: 15px;
        }

        &:hover {
            .about-bottom__icon-animate {
                transform: translateX(10px);
            }
        }
    }

    &__icon {
        @include center();
        margin-left: 10px;
        transition: all 0.3s ease-in-out;

        &.active {
            transform: rotate(180deg);
        }
    }
}

.video__border {
    transform: rotate(5.88deg);
}
