.banner {
    @include adaptive-value('padding-top', 62, 62, 1);
    @include adaptive-value('margin-bottom', 92, 26, 1);
    @include flex();
    position: relative;

    @include mobile {
        padding-top: $header-height + 40;
    }

    &__title {
        @include font(36, 16, 700, 44, 19);
        @include adaptive-value('margin-bottom', 35, 12, 1);
        color: $white-color;
    }

    &__subtitle {
        @include font(26, 14, 700, 31, 17);
        @include adaptive-value('margin-bottom', 16, 10, 1);
    }

    &__description {
        @include font(16, 12, 500, 19, 15);
        color: $blue-50;
        @include adaptive-value('max-width', 630, 280, 1);
        @include adaptive-value('margin-bottom', 35, 30, 1);
    }

    &__content {
        color: $white-color;
        user-select: none;
        height: 100%;
        @include flex(flex-start, center);
        flex-direction: column;
        @include adaptive-value('margin-left', 65, 15, 1);
        z-index: 10;
    }

    &__btn {
        @include mobile {
            margin-bottom: 30px;
        }
        &:hover {
            background: $primary-hover;
            border-color: $primary-hover;
            color: #fff;
        }
    }
}
