.banner {
    display: inline-flex;
    column-gap: 52px;
    @include adaptive-value('padding-top', 100, 62, 1);
    @include adaptive-value('margin-bottom', 130, 26, 1);
    @include center();

    @include mobile {
        margin-top: $header-height - 30;
    }

    @include mobile {
        @include adaptive-value('row-gap', 50, 35, 1);
        padding-top: 62px;
        margin-bottom: 56px;
        flex-direction: column-reverse;
    }

    &__title {
        @include font(36, 18, 700, 44px);
        @include adaptive-value('line-height', 44, 22, 1);
        @include adaptive-value('margin-bottom', 35, 18, 1);
        color: $primary-color;

        @include media(375) {
            font-size: $font-size-18;
        }
    }

    &__subtitle {
        @include font(26, 14, 700, 31px);
        @include adaptive-value('line-height', 31, 17, 1);
        color: $dark-grey-color;
        margin-bottom: 16px;
    }

    &__description {
        @include font(16, 14, 500, 19px);
        @include adaptive-value('line-height', 19, 17, 1);
        @include adaptive-value('margin-bottom', 32, 26, 1);
        color: $light-grey-color;
    }

    &__subtitle,
    &__description {
        @include media(425) {
            font-size: $font-size-14;
        }
    }

    &__left {
        @include flex(flex-start, center);
        flex-direction: column;
    }

    &__right {
        margin: 0 auto;
    }

    .video__border {
        transform: rotate(-4.93deg);
    }
}
