.banner {
    display: inline-flex;
    column-gap: 52px;
    @include adaptive-value('padding-top', 100, 62, 1);
    @include adaptive-value('margin-bottom', 130, 26, 1);

    @include mobile {
        margin-top: $header-height - 30;
    }

    @include media(768) {
        @include adaptive-value('row-gap', 50, 35, 1);
        padding-top: 62px;
        margin-bottom: 56px;
        flex-direction: column-reverse;
    }

    &__title {
        @include font(36, 18, 700, 44px);
        @include adaptive-value('line-height', 44, 22, 1);
        @include adaptive-value('margin-bottom', 35, 18, 1);
        color: $primary-color;

        @include media(375) {
            font-size: $font-size-18;
        }
    }

    &__subtitle {
        @include font(26, 14, 700, 31px);
        @include adaptive-value('line-height', 31, 17, 1);
        color: $dark-grey-color;
        margin-bottom: 16px;
    }

    &__description {
        @include font(16, 14, 500, 19px);
        @include adaptive-value('line-height', 19, 17, 1);
        @include adaptive-value('margin-bottom', 32, 26, 1);
        color: $light-grey-color;
    }

    &__subtitle,
    &__description {
        @include media(375) {
            font-size: $font-size-14;
        }
    }

    &__left {
        @include flex(flex-start, center);
        flex-direction: column;
    }

    &__right {
        @include adaptive-value('width', 475, 305, 1);
        @include adaptive-value('height', 430, 275, 1);
        margin: 0 auto;
        position: relative;
        @include center();

        @include media(426) {
            width: 256px;
            height: 275px;
            object-fit: cover;
        }

        &:hover {
            .banner-video-border {
                top: 18px;
                right: 6px;
                bottom: 18px;
                left: 2px;
                transform: rotate(0);

                @include mobile {
                    top: 25px;
                    right: 25px;
                    bottom: 25px;
                    left: 25px;
                }
            }
        }
    }

    &-image {
        @include adaptive-value('width', 470, 250, 1);
        @include adaptive-value('height', 410, 220, 1);
        overflow: hidden;
        z-index: 11;

        @include media(425) {
            width: 300px;
            height: 261px;
            object-fit: cover;
        }
    }
}

.banner-video {
    border-radius: $border-radius;
    overflow: hidden;
    z-index: 10;
    @include center();

    &-border {
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 10px;
        left: 0px;
        background-color: transparent;
        border: 1px solid $primary-color;
        border-radius: $border-radius;
        transform: rotate(-4.93deg);
        transition: all 0.2s ease;
        z-index: 9;

        @include mobile {
            top: 15px;
            right: 15px;
            bottom: 15px;
            left: 15px;
            transform: rotate(-8deg);
        }

        @include media(425) {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}
