.contactus {
    margin: 56px 0;

    &__title {
        @include adaptive-value('margin-bottom', 42, 25, 1);
    }

    &__subtitle {
        @include font(24, 20, 500, 29, 25);
        color: $primary-color;
        @include adaptive-value('margin-bottom', 30, 20, 1);
        grid-column: span 2;
    }

    &__container {
        display: grid;
        grid-template-columns: 55% 45%;
        @include adaptive-value('gap', 32, 16, 1);
        justify-content: space-between;

        @include media(960) {
            grid-template-columns: 100%;
            row-gap: 40px;
        }
    }
}
.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 3px 6px 30px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    @include adaptive-value('padding-block', 40, 20, 1);
    @include adaptive-value('padding-right', 60, 12, 1);
    @include adaptive-value('padding-left', 40, 12, 1);

    &__item {
        margin-bottom: 1rem;
        grid-column: span 2;

        &_label {
            margin-bottom: 5px;
            @include font(16, 14, 400, 19, 17);
        }

        &_input {
            padding: 10px 16px;
            border: 1px solid #e1e1e1;
            width: 100%;
            @include font(14, 12, 400, 17, 17);

            &::placeholder,
            &-textarea::placeholder {
                @include font(14, 12, 400, 17, 17);
                font-family: $inter;
                color: #8c8c8c;
            }

            &-textarea {
                resize: none;
                width: 100%;
                height: 165px;
                font-size: 16px;
            }
        }

        &-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .form__input--area {
                width: 45%;
            }
        }

        &-btn {
            @include adaptive-value('margin-top', 30, 15, 1);
            margin-bottom: 0;
            width: 100%;
            @include flex(center, flex-end);
        }
    }

    &__input--area {
        @include flex(flex-start, flex-end);
        flex-direction: column;
    }
}
.contactus-content {
    @include adaptive-value('margin-top', 50, 0, 1);
    padding-right: 15px;

    &__list {
    }

    &__item {
        margin-bottom: 28px;
    }

    &__title {
        @include font(16, 16, 600, 19, 19);
        color: $grey-400;
        margin-bottom: 1rem;
    }

    &__text {
        @include font(16, 16, 500, 19, 19);
        color: $grey-100;
    }
}
