.services {
    @include adaptive-value('margin-bottom', 60, 30, 1);
    &__container {
    }

    &__title {
        @include adaptive-value('margin-bottom', 55, 32, 1);
    }
}

.services-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-rows: repeat(2, minmax(120px, 175px));
    @include adaptive-value('margin-bottom', 60, 30, 1);

    @include media(780) {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-template-rows: repeat(3, 1fr);
    }

    @include media(550) {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        grid-template-rows: repeat(5, 1fr);
    }

    &__item {
        display: flex;
        @include adaptive-value('padding-block', 20, 15, 1);
        @include adaptive-value('padding-inline', 30, 15, 1);
        position: relative;
        box-shadow: 0px 0px 10px rgba(10, 177, 229, 0.1);
        transition: all 0.4s ease;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                270deg,
                #1a84b7 0%,
                rgba(12, 121, 173, 0.72) 100%
            );
            box-shadow: 0px 0px 10px rgba(10, 177, 229, 0.1);
            opacity: 0;
            transition: opacity 0.5s;
            z-index: -1;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
            .services-grid__number,
            .services-grid__text {
                color: $white-color;
            }
        }

        &_big {
            grid-column: span 2;

            @include media(550) {
                grid-column: span 1;
            }
        }
    }

    &__number {
        @include font(46, 24, 700, 56, 20);
        color: $primary-color;
        text-shadow: 3px 0px 4px rgba(10, 177, 229, 0.1);
        @include adaptive-value('margin-right', 20, 10, 1);
        transition: all 0.4s ease;
    }

    &__text {
        word-wrap: break-word;
        @include font(16, 12, 500, 19, 15);
        color: $grey-300;
        transition: all 0.4s ease;
    }
}

.services-bottom {
    width: 100%;
    @include flex(center, flex-end);

    &__link,
    &__icon {
        cursor: pointer;
        color: $primary-color;
    }

    &__link {
        @include font(16, 12, 500, 19, 15);
        @include flex();

        @include media(375) {
            font-size: $font-size-12;
        }

        &:hover .services-bottom__icon {
            transform: translateX(10px);
        }
    }

    &__icon {
        @include flex();
        @extend %transition;
        margin-left: 10px;
        font-weight: bold;
    }
}
