.accordion {
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    @include adaptive-value('margin-bottom', 55, 36, 1);
    padding: 42px;
    row-gap: 1rem;

    @include mobile {
        margin-bottom: 55px;
        border: none;
        padding: 0;
    }

    &__item {
        background: #fff;
        border: 1px solid #e8e8e8;
        border-radius: 12px;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__title {
        @include flex(center, space-between);
        @include font(16, 12, 600, 22, 16);
        padding: 20px 30px;
        color: $grey-color;
        cursor: pointer;

        @include media(425) {
            padding: 12px 10px;
        }

        &-text {
            width: 95%;

            @include media(425) {
                width: 88%;
            }
        }
    }

    &__icon {
        width: 16px;
        transition: all 0.4s ease-in-out;
        transform: rotate(270deg);

        &.active {
            transform: rotate(0);
        }
    }

    &__content {
        @include font(16, 12, 500, 19, 16);
        color: $grey-color;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0, 1, 0, 1);
        padding-inline: 30px;

        &.show {
            height: auto;
            max-height: 9999px;
            transition: all 0.5s cubic-bezier(1, 0, 1, 0);
        }

        @include media(425) {
            padding-inline: 15px;
        }
    }

    &__subtitle {
        margin-bottom: 1rem;

        @include media(425) {
            margin-bottom: 8px;
        }
    }
}
.accordion-list {
    padding-left: 8px;
    list-style: outside;

    &__item {
        list-style: outside;
        margin-bottom: 1rem;

        &::marker {
            color: #000;
        }
    }
}

.accordion-moredetails {
    width: 100%;
    @include flex(center, flex-start);
    margin-block: 15px;

    &__link {
        color: $primary-color;
    }
}
