.sertificate-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(74, 74, 74, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    @include flex();
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    z-index: 999;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        gap: 10px;
        position: relative;
        padding: 20px 20px 20px 20px;
        border-radius: 12px;
        background: #fff;
        @include flex(flex-end, flex-start);
        flex-direction: column-reverse;
    }

    &__image {
        @include adaptive-value('width', 395, 180, 1);
        @include adaptive-value('height', 585, 265, 1);
        object-fit: cover;
    }

    &__icon {
        @include flex();
        padding: 10px;
        background: #eee;
        border-radius: $border-radius;
        transition: all 0.3s ease;

        &:hover {
            background: #bbb;
        }
    }
}
