.menu {
    @include flex(flex-start, flex-end);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 0.5s ease;
    visibility: hidden;

    &.show {
        visibility: visible;

        .menu__opacity {
            opacity: 0.5;
        }

        .menu__content {
            transform: translateX(0);
        }
    }

    &__opacity {
        width: 100vw;
        height: 100vh;
        background: rgba(74, 74, 74);
        position: absolute;
        right: 0;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        z-index: 1;
    }

    &__content {
        width: 70%;
        height: 100%;
        background: #fff;
        padding: 30px 32px;
        transition: transform 0.3s ease;
        transform: translateX(100%);
        z-index: 2;
    }

    &__icon {
        width: 100%;
        @include flex(center, flex-end);
    }
}
