.call {
    &-wrap {
        @include flex(center, space-between);
    }

    &-icon {
        margin-right: 20px;

        @include mobile {
            margin-right: 10px;
        }
    }

    &-link {
        @include font(16, 14, 400, 19px);
    }
}
