.nav {
    &__list {
        @include flex(center, space-between);
        @include adaptive-value('gap', 48, 18, 1);
        flex-wrap: wrap;

        @include mobile {
            align-items: flex-start;
            flex-direction: column;
            margin-block: 58px;
        }
    }

    &__item {
        font-size: $font-size-16;
        font-weight: 400;
        list-style: 19px;
        color: $grey-400;
        cursor: pointer;
        @extend %transition;

        @include media-desktop(768) {
            &:hover {
                color: $primary-color;
            }
        }
    }
}
