.nav {
    &__list {
        @include flex(center, space-between);
        flex-wrap: wrap;
        @include adaptive-value('gap', 48, 18, 1);

        @include media(755) {
            @include flex(flex-start);
            flex-direction: column;
            margin-bottom: 58px;
        }
    }

    &__item {
        font-weight: 400;
        font-size: $font-size-16;
        list-style: 19px;
        color: $dark-grey-color;
        cursor: pointer;
        transition: all 0.3s ease;

        @include media-desktop(768) {
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.current {
    color: $primary-color;
}
