// Default
@import './global/variables';
@import './global/normalize';

// Mixins
@import './mixins/mixins';
@import './mixins/media-mixins';

// Global
@import './global/settings';

// Atoms
@import './components/atoms/logo';
@import './components/atoms/call';
@import './components/atoms/go-back';

// Layout
@import './components/header/header';
@import './components/header/nav';
@import './components/footer/footer';

// Home
@import './components/home/banner';
@import './components/home/about-us';
@import './components/home/services';
@import './components/home/sertificate';
@import './components/home/contact-us';
@import './components/home/location';

// Info
@import './components/info/info-page';

// Modals
@import './components/modals/staffing/staffing-modal';
@import './components/modals/sertificate/sertificate-modal';

// Accordion
@import './components/accordion/accordion';

// Components
@import './components/burger-menu/burger-menu';
@import './components/sertificate-banner/sertificate-banner';
